@import '../vendor/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../vendor/slick-carousel/slick/slick.css';
@import '../vendor/slick-carousel/slick/slick-theme.css';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'components/scroll';

body {
	font-family: "Roboto";
	font-size:16px;
	color: $preto;
	position: relative;
	background-color: $branco;
}